body 
   

{
    background: rgb(1,0,1);
    background: radial-gradient(circle, rgba(1,0,1,1) 0%, rgba(0,0,0,1) 48%, rgba(20,0,19,1) 100%);
    font-family: 'Prompt', sans-serif;
}



a {
    color: inherit;
}

.imgtitle {
    position: absolute;
    margin-left: -15%;
    animation: logomov;
    animation-duration: 3s;
}


.menu {
    filter: url("#shadowed-goo");
}

.menu-item, .menu-open-button {
    background: #5f1eaa;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-left: -40px;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 80px;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
}

.menu-open {
    display: none;
}

.hamburger {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: transform 200ms;
}

.hamburger-1 {
    transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
    transform: translate3d(0, 0, 0);
}

.hamburger-3 {
    transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
    position: absolute;
    left: 91%;
    margin-top: 1%;
    margin-left: -190px;
    padding-top: 38px;
    padding-left: 190px;
    width: 180px;
    height: 150px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
}

.menu-item:hover {
    background: white;
    color: #7940ff;
}

.menu-item:nth-child(3) {
    transition-duration: 70ms;
}

.menu-item:nth-child(4) {
    transition-duration: 130ms;
}

.menu-item:nth-child(5) {
    transition-duration: 190ms;
}

.menu-item:nth-child(6) {
    transition-duration: 250ms;
}

.menu-item:nth-child(7) {
    transition-duration: 310ms;
}

.menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}

    .menu-open-button:hover {
        transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    }

.menu-open:checked + .menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

    .menu-open:checked ~ .menu-item:nth-child(3) {
        transition-duration: 160ms;
        transform: translate3d(114.42548px, 11.48084px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(4) {
        transition-duration: 240ms;
        transform: translate3d(77.18543px, 85.2491px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(5) {
        transition-duration: 320ms;
        transform: translate3d(0.09158px, 114.99996px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(6) {
        transition-duration: 400ms;
        transform: translate3d(-77.04956px, 85.37192px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(7) {
        transition-duration: 480ms;
        transform: translate3d(-114.40705px, 11.66307px, 0);
    }

.busquinha {
    width: 80%;
    position: relative;
    height: 50px;
}

.inp1 {
    height: 50px;
    border: none;
    outline: none;
    padding-left: 50px;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    z-index: 3;
    transition: width 0.5s ease-out;
    cursor: pointer;
}

    .inp1:focus {
        border: 1px solid rgb(118, 69, 197);
        color: aliceblue;
        background-color: #252728;
        border-radius: 25px;
        width: 300px;
        z-index: 1;
        transition: width 0.5s ease-in;
    }

.btn1 {
    height: 50px;
    width: 50px;
    background: url('search-free-icon-font (1).png') center no-repeat;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

    .btn1:focus {
        outline: none;
    }
/* esconde o LABEL "Buscar" */
.lb1 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.cate {
    background-color: #5f1eaa;
    color: aliceblue;
}

.dropdown-item {
    color: white;
    background-color: #5f1eaa;
}

.dropdown-menu {
    background-color: #5f1eaa;
}

.Titcc {
    position: absolute;
    top: auto;
    left: auto;
    width: auto;
}

.imgtitle {
    width: 200px;
    height: 190px;
    border-radius: 50%;
}


@keyframes logomov {

    0% {
        margin-top: 50%;
    }

    100% {
        margin-top: 15%;
    }
}

.img1 {
    width: 70%;
   
    border-radius: 100%;
  
    border: solid 3px #7940ff;
}

.contat {
    width: 80px;
}

.txtFeed {
    width: 80%;
    height: 50px;
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 0px 0px 0px 10px;
}


}
